p {
  font-family: "Montserrat", sans-serif;
  color: #6a6a6a;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  padding-right: 1rem;
}
.fixed-size {
  width: 100%;
}
.article-container {
  padding: 1rem;
}
.article-header {
  margin: 0.5rem 0;
}
.post-meta {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}
.article-header h2 {
  margin: 0.1rem 0;
}
.post-meta .element img {
  max-width: 100%;
  margin-right: 0.2rem;
}
.article-body p {
  font-family: "Montserrat", sans-serif;
  color: #6a6a6a;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  padding-right: 1rem;
}
.mb-30 {
  margin-bottom: 30px;
}

.side {
  padding-top: 10rem;
  margin-top: 30vh;
}

.side h2 {
  font-weight: BOLD;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 2rem;
}

.info-space {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mini-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-card {
  border: solid 1px rgba(136, 135, 135, 0.5);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
}
